In [6]:
import pandas as pd 
import matplotlib as plt

df = pd.read_csv("D:\Sales Forecasting System\Data\walmart-sales-dataset-of-45stores.csv")
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

In [8]:
df.to_csv("../data/processed/cleaned_data.csv", index=False)