In [1]:
import pandas as pd 
import numpy as np

In [2]:
DATA_PATH = "D:\Sales Forecasting System\Data\processed\cleaned_data.csv"

df = pd.read_csv(DATA_PATH)
df['Date'] = pd.to_datetime(df['Date'])

df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

In [3]:
df.shape

(6435, 8)

In [4]:
df.isna().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [5]:
df.dtypes

Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [6]:
df = df.sort_values(by=['Store', 'Date']).reset_index(drop = True)

In [7]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667

In [8]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Week'] = df['Date'].dt.isocalendar().week.astype(int)

In [10]:
LAG_WEEKS = [1, 4, 12]

for lag in LAG_WEEKS:
    df[f'lag_{lag}'] = (
        df.groupby('Store')['Weekly_Sales']
        .shift(lag)
    )

In [11]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,lag_1,lag_4,lag_12
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,2010,2,5,NaN,NaN,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,2010,2,6,1643690.90,NaN,NaN
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2010,2,7,1641957.44,NaN,NaN
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2010,2,8,1611968.17,NaN,NaN
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,2010,3,9,1409727.59,1643690.90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684,2012,9,39,723086.20,734297.87,843361.10
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667,2012,10,40,713173.95,766512.66,749817.08
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667,2012,10,41,733455.07,702238.27,737613.65
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667,2012,10,42,734464.36,723086.20,711671.58
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,2012,10,43,718125.53,713173.95,725729.51

In [12]:
df['rolling_mean_4'] = (
    df.groupby('Store')['Weekly_Sales']
    .shift(1)
    .rolling(window=4)
    .mean()
)

In [13]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,lag_1,lag_4,lag_12,rolling_mean_4
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,2010,2,5,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,2010,2,6,1643690.90,NaN,NaN,NaN
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2010,2,7,1641957.44,NaN,NaN,NaN
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2010,2,8,1611968.17,NaN,NaN,NaN
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,2010,3,9,1409727.59,1643690.90,NaN,1.576836e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684,2012,9,39,723086.20,734297.87,843361.10,7.315338e+05
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667,2012,10,40,713173.95,766512.66,749817.08,7.262528e+05
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667,2012,10,41,733455.07,702238.27,737613.65,7.179884e+05
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667,2012,10,42,734464.36,723086.20,711671.58,7.260449e+05
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,2012,10,43,718125.53,713173.95,725729.51,7.248047e+05

In [14]:
df.isna().sum()

Store               0
Date                0
Weekly_Sales        0
Holiday_Flag        0
Temperature         0
Fuel_Price          0
CPI                 0
Unemployment        0
Year                0
Month               0
Week                0
lag_1              45
lag_4             180
lag_12            540
rolling_mean_4    180
dtype: int64

In [15]:
df = df.dropna().reset_index(drop=True)

In [16]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,lag_1,lag_4,lag_12,rolling_mean_4
0,1,2010-04-30,1425100.71,0,67.41,2.780,210.389546,7.808,2010,4,17,1391256.12,1594968.28,1643690.90,1.499425e+06
1,1,2010-05-07,1603955.12,0,72.55,2.835,210.339968,7.808,2010,5,18,1425100.71,1545418.53,1641957.44,1.456958e+06
2,1,2010-05-14,1494251.50,0,74.78,2.854,210.337426,7.808,2010,5,19,1603955.12,1466058.28,1611968.17,1.471593e+06
3,1,2010-05-21,1399662.07,0,76.44,2.826,210.617093,7.808,2010,5,20,1494251.50,1391256.12,1409727.59,1.478641e+06
4,1,2010-05-28,1432069.95,0,80.44,2.759,210.896761,7.808,2010,5,21,1399662.07,1425100.71,1554806.68,1.480742e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5890,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684,2012,9,39,723086.20,734297.87,843361.10,7.315338e+05
5891,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667,2012,10,40,713173.95,766512.66,749817.08,7.262528e+05
5892,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667,2012,10,41,733455.07,702238.27,737613.65,7.179884e+05
5893,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667,2012,10,42,734464.36,723086.20,711671.58,7.260449e+05
5894,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,2012,10,43,718125.53,713173.95,725729.51,7.248047e+05

In [17]:
FEATURE_COLUMNS = [
    'Store',
    'Date',
    'Weekly_Sales',
    'Holiday_Flag',
    'Temperature',
    'Fuel_Price',
    'CPI',
    'Unemployment',
    'lag_1',
    'lag_4',
    'lag_12',
    'rolling_mean_4'
]

df = df[FEATURE_COLUMNS]
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,lag_1,lag_4,lag_12,rolling_mean_4
0,1,2010-04-30,1425100.71,0,67.41,2.780,210.389546,7.808,1391256.12,1594968.28,1643690.90,1.499425e+06
1,1,2010-05-07,1603955.12,0,72.55,2.835,210.339968,7.808,1425100.71,1545418.53,1641957.44,1.456958e+06
2,1,2010-05-14,1494251.50,0,74.78,2.854,210.337426,7.808,1603955.12,1466058.28,1611968.17,1.471593e+06
3,1,2010-05-21,1399662.07,0,76.44,2.826,210.617093,7.808,1494251.50,1391256.12,1409727.59,1.478641e+06
4,1,2010-05-28,1432069.95,0,80.44,2.759,210.896761,7.808,1399662.07,1425100.71,1554806.68,1.480742e+06

In [18]:
print("Final shape:", df.shape)
print(df.describe())

Final shape: (5895, 12)
             Store                 Date  Weekly_Sales  Holiday_Flag  \
count  5895.000000                 5895  5.895000e+03   5895.000000
mean     23.000000  2011-07-29 00:00:00  1.047881e+06      0.068702
min       1.000000  2010-04-30 00:00:00  2.099862e+05      0.000000
25%      12.000000  2010-12-10 00:00:00  5.555385e+05      0.000000
50%      23.000000  2011-07-29 00:00:00  9.586198e+05      0.000000
75%      34.000000  2012-03-16 00:00:00  1.422573e+06      0.000000
max      45.000000  2012-10-26 00:00:00  3.818686e+06      1.000000
std      12.988275                  NaN  5.655754e+05      0.252969

       Temperature   Fuel_Price          CPI  Unemployment         lag_1  \
count  5895.000000  5895.000000  5895.000000   5895.000000  5.895000e+03
mean     61.941520     3.411564   171.922522      7.946055  1.047744e+06
min      -2.060000     2.513000   126.064000      3.879000  2.099862e+05
25%      48.935000     3.030000   132.293936      6.885000  5.555385e+05
50%      64.470000     3.513000   182.810620      7.852000  9.588754e+05
75%      76.055000     3.757000   213.472512      8.567000  1.421927e+06
max     100.140000     4.468000   227.232807     14.313000  3.818686e+06
std      18.332238     0.441160    39.447160      1.874572  5.655814e+05

              lag_4        lag_12  rolling_mean_4
count  5.895000e+03  5.895000e+03    5.895000e+03
mean   1.048449e+06  1.048829e+06    1.047978e+06
min    2.099862e+05  2.099862e+05    2.319302e+05
25%    5.556749e+05  5.544698e+05    5.582384e+05
50%    9.586672e+05  9.603128e+05    9.688532e+05
75%    1.422928e+06  1.419679e+06    1.421355e+06
max    3.818686e+06  3.818686e+06    2.938513e+06
std    5.663291e+05  5.676722e+05    5.533257e+05

In [19]:
OUTPUT_PATH = "D:\Sales Forecasting System\Data\processed/feature_data.csv"

df.to_csv(OUTPUT_PATH, index=False)